<main>
  <h1>Test de Dactylographie v1</h1>
  <div class="segment-controle">
    <button class="segment-btn" (click)="decrementWords()">-</button>
    <button class="segment-btn2" [disabled]="true">{{nbWords}} words</button>
    <button class="segment-btn" (click)="incrementWords()">+</button>
    
  </div>
  @if (tempsFin==null){
  <p style="white-space: pre-wrap;" class="texte-box">
    @if (txtCible.length > 0) {
      @for(l of txtCible.split(''); track $index){
        <span [class]="obtenirStatutLettre($index)">{{l}}</span>
      }
    } @else {
      <span style="color: #999;">Loading...</span>
    }
  </p>
  }
  <p class="stat">{{correctChars}} corrects,{{incorrectCharsTotal-incorrectChars}} corrected ,{{incorrectCharsTotal}} incorrects, {{calculateWpm(correctChars)| number:'1.0-2'}} WPM,{{calculateAccuracy()| number:'1.0-2'}} accuracy,{{calculateWpm(totKeyPressed)| number:'1.0-2'}} Raw WPM</p>
  


  @if (tempsFin!=null) {
    <div class="result-layout">
      
      <div class="side-label">
        <span class="label-titre">WPM</span>
        {{calculateWpm(correctChars)| number:'1.0-0'}}
      </div>

      <div class="chart-container" style="width: 100%; max-width: 800px; padding: 20px; background: #242526; border-radius: 8px;">
        <canvas id="wpmChart"></canvas>
      </div>

      <div class="side-label">
        <span class="label-titre">ACC</span>
        {{calculateAccuracy()| number:'1.0-0'}}%
      </div>
    
    </div>
    <div class="result-layout">
      <div class="side-label">
        <span class="label-titre">sec</span>
        {{Duree| number:'1.0-2'}} 
      </div>
      <div class="side-label">
        <span class="label-titre">const</span>
        {{calculateConsistency()| number:'1.0-0'}}% 
      </div>
    </div>
  }
  <div class="action-buttons">
    <button class="btn-reset" (click)="restartTest(true)">New(Shift+Enter)</button><button class="btn-reset" (click)="restartTest(false)">Retry(Tab+Enter)</button>
  </div>

</main>